In [109]:
import time
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from webdriver_manager.chrome import ChromeDriverManager
import datetime

In [110]:
dataframe = pd.DataFrame(columns=["czas", "Wroclaw - Bialy Dunajec", "Wroclaw - Krakow", "Krakow - Bialy Dunajec"])

In [111]:
options = webdriver.ChromeOptions()
options.headless = False
options.add_argument("--window-size=1920,1080")
options.add_argument("–disable-gpu")
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()), options=options)
driver.maximize_window()
driver.get("https://www.google.com/maps/dir///@52.4010064,16.920086,17z/data=!4m2!4m1!3e0?hl=pl-PL&entry=ttu")

C:\Users\piter\AppData\Local\Temp\ipykernel_15704\3421768523.py:2: DeprecationWarning: headless property is deprecated, instead use add_argument('--headless') or add_argument('--headless=new')
  options.headless = False

In [112]:
zaakceptuj = driver.find_element(By.XPATH, "//span[text()='Zaakceptuj wszystko']")
zaakceptuj.click()

In [113]:
    samochodem = driver.find_element(By.XPATH, "//img[@data-tooltip='Samochodem']")
    samochodem.click()

    wroclaw = driver.find_element(By.XPATH, "//input[@tooltip='Wybierz punkt początkowy lub kliknij mapę...']")
    bialy = driver.find_element(By.XPATH, "//input[@tooltip='Wybierz punkt docelowy...']")

    wroclaw.send_keys("Wrocław")
    bialy.send_keys("Biały Dunajec")

    bialy.send_keys(Keys.ENTER)
    time.sleep(3)

In [114]:
czas = driver.find_element(By.XPATH, "//div[@jstcache='82' and @class='cGRe9e']")
czas.text

'4 h 20 min'

In [115]:
temp = czas.text.replace(" h ", " ").replace(" min", "").split(" ")
wro_bia = 60 * int(temp[0]) + int(temp[1])

In [116]:
driver.get("https://www.google.com/maps/dir///@52.4010064,16.920086,17z/data=!4m2!4m1!3e0?hl=pl-PL&entry=ttu")

samochodem = driver.find_element(By.XPATH, "//img[@data-tooltip='Samochodem']")
samochodem.click()

wroclaw = driver.find_element(By.XPATH, "//input[@tooltip='Wybierz punkt początkowy lub kliknij mapę...']")
krakow = driver.find_element(By.XPATH, "//input[@tooltip='Wybierz punkt docelowy...']")

wroclaw.send_keys("Wrocław")
krakow.send_keys("Balice, 32-083")

krakow.send_keys(Keys.ENTER)
time.sleep(3)

czas = driver.find_element(By.XPATH, "//div[@jstcache='82' and @class='cGRe9e']")
czas.text

temp = czas.text.replace(" h ", " ").replace(" min", "").split(" ")
wro_kra = 60 * int(temp[0]) + int(temp[1])

In [117]:
driver.get("https://www.google.com/maps/dir///@52.4010064,16.920086,17z/data=!4m2!4m1!3e0?hl=pl-PL&entry=ttu")

samochodem = driver.find_element(By.XPATH, "//img[@data-tooltip='Samochodem']")
samochodem.click()

krakow = driver.find_element(By.XPATH, "//input[@tooltip='Wybierz punkt początkowy lub kliknij mapę...']")
bialy = driver.find_element(By.XPATH, "//input[@tooltip='Wybierz punkt docelowy...']")

krakow.send_keys("Balice, 32-083")
bialy.send_keys("Biały Dunajec")

bialy.send_keys(Keys.ENTER)
time.sleep(3)

czas = driver.find_element(By.XPATH, "//div[@jstcache='82' and @class='cGRe9e']")
czas.text

temp = czas.text.replace(" h ", " ").replace(" min", "").split(" ")
kra_bia = 60 * int(temp[0]) + int(temp[1])

In [118]:
day = datetime.datetime.now().day if len(str(datetime.datetime.now().day)) == 2 else f"0{datetime.datetime.now().day}"
month = datetime.datetime.now().month if len(str(datetime.datetime.now().month)) == 2 else f"0{datetime.datetime.now().month}"
minute = datetime.datetime.now().minute if len(str(datetime.datetime.now().minute)) == 2 else f"0{datetime.datetime.now().minute}"
new_row = {"czas":f"{day}.{month}, {datetime.datetime.now().hour}:{minute}",
    "Wroclaw - Bialy Dunajec":wro_bia,
    "Wroclaw - Krakow": wro_kra,
    "Krakow - Bialy Dunajec": kra_bia}
dataframe.loc[len(dataframe)] = new_row

In [119]:
dataframe

,czas,Wroclaw - Bialy Dunajec,Wroclaw - Krakow,Krakow - Bialy Dunajec
0,"16.08, 9:42",260,173,90

In [120]:
driver.close()
driver.quit()

In [121]:
datetime.datetime.now().month
datetime.datetime.now().day
datetime.datetime.now().hour
datetime.datetime.now().minute

42

In [124]:
dataframe.to_csv("czas.csv", index=False)

In [130]:
pd.read_csv("czas.csv")

,czas,Wroclaw - Bialy Dunajec,Wroclaw - Krakow,Krakow - Bialy Dunajec
0,"16.08, 11:20",262,174,102
1,"16.08, 11:21",263,175,99
2,"16.08, 11:23",262,174,103
3,"16.08, 11:24",262,174,101
4,"16.08, 11:26",263,175,98
...,...,...,...,...
62,"16.08, 12:52",271,181,104
63,"16.08, 12:53",273,181,105
64,"16.08, 12:55",273,182,103
65,"16.08, 12:57",273,181,104
66,"16.08, 12:59",271,181,107